{% extends 'blog/main.html' %}

{% block content %}
<hr>
    {% for article in articles %}
        <div class="article-info">
            <h1><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h1>
            <div class="date">
                <p>Opublikowano: {{ article.published_date }}</p>
                <p>Autor: {{article.author}}</p>
            </div>
            <p>{{ article.text|linebreaksbr }}</p>
            <br>
            <img src="{{ article.article_picture.url }}"  style="width: 500px;">
        </div>
        <hr>
    {% endfor %}
{% endblock %}