{% extends 'blog/main.html' %}

{% block content %}
        <div class="article-info">
            {% if article.published_date %}
            {% endif %}
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'article_edit' pk=article.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'article_remove' pk=article.pk %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
            {% endif %}
                <a class="btn btn-default" href="{% url 'generate_PDF' pk=article.pk %}"><span class="glyphicon glyphicon-book"></span></a>
            <h1 style="color: rgb(60, 168, 105)">{{ article.title }}</h1>
            <div class="date">
                <p>Opublikowano: {{ article.published_date }}</p>
                <p>Autor: {{article.author}}</p>
            </div>
            <p>{{ article.text|linebreaksbr }}</p>
            <h3><b> Składniki: </b></h3>
            <ul>
            {% for ingredient in article.ingredients %}
               <li><p>{{ingredient}}</p></li>
            {% endfor %}
            </ul>
            <h3><b> Sposób przygotowania: </b></h3>
            <p>{{ article.recipe|linebreaksbr }}</p>
            <img src="{{ article.article_picture.url }}" style="width: 500px;">
        </div>
{% endblock %}