{% extends 'blog/main.html' %}

{% block content %}
    <h2>Nowy artykuł</h2><br>
    <form method="POST" class="article-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Dodaj</button>
        <br><br>
    </form>
{% endblock %}