<html lang="pl" xml:lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Blog Kulinarny</title>

<style type="text/css">
@font-face {
    font-family: PDF, "PDF";
}
body {
    font-family: PDF;
    font-size: 30px;
}

h1 a, h2 a {
    color: royalblue;
}

h1 {
    color:  rgb(60, 168, 105); 
}
 
p {
    font-size: 16px;
}
.header {
    color: white;
    padding: 10px;
    background-color: rgb(12, 54, 180);
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
    font-size: 36pt;
    color: white;
}

.content {
    margin: auto;
    width: 70%;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.article-form textarea, .article-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.article-info {
    margin-bottom: 100px;
}

.article-info h2 a, .article-info h1 a:visited {
    text-transform: uppercase;
    color:  rgb(60, 168, 105);
}

.footer {
    background-color: rgb(60, 168, 105);
    padding: 10px;
    position:absolute;
    width:100%;
}

.footer p {
    margin-left: 40%;
    color: white;
    font-weight: bold;
    position: relative;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: white;
}
.navbar-toggle {
    z-index:3;
}

.navbar-cus {
    color: rgb(12, 54, 180);
    font-size: 1.5em;
}

.button-login {
    background-color:  rgb(60, 168, 105); 
    color: white;
}

</style>
</head>
<body>
    <div class="article-info">
            <h1 style="color: rgb(60, 168, 105)">{{ title }}</h1>
            <div class="date">
                <p>Opublikowano: {{ published_date }}</p>
                <p>Autor: {{author}}</p>
            </div>
            <p>{{ text|linebreaksbr }}</p>
            <h3><b> Skladniki: </b></h3>
            <ul>
            {% for ingredient in ingredients %}
               <li><p>{{ingredient}}</p></li>
            {% endfor %}
            </ul>
            <h3><b> Sposob przygotowania: </b></h3>
            <p>{{ recipe|linebreaksbr }}</p>
        </div>
</body>
</html>