{% load static %}
<html>
    <head>
        <title>Blog Kulinarny</title>

        <!-- links -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-default navbar-cus" role="navigation">
            <a class="navbar-brand" href="/">Blog Kulinarny Pawła Główczewskiego</a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left navbar-move">
                    <li><a href="/category/S">Śniadanie</a></li>
                    <li><a></a></li>
                    <li><a href="/category/L">Lunch</a></li>
                    <li><a></a></li>
                    <li><a href="/category/O">Obiad</a></li>
                    <li><a></a></li>
                    <li><a href="/category/K">Kolacja</a></li>
                    <li><a></a></li>
                    <li><a href="/category/D">Deser</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-move">
            {% if user.is_authenticated %}
                <li><a>Witaj {{ user.first_name }}!</a></li>
            {% endif %}
                <li><a href="/">Artykuły</a></li>
                <li><a></a></li>
                <li><a></a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'post_new_article' %}"<b>Dodaj Artykuł</b></a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Zaloguj</a><li>
            {% endif %}
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% endif %}
                </ul>
            </div>
        </nav>

        <div class="content container">
            <div class="row">
             <div class="col-md-8">
             {% block content%}
             {% endblock %}
            </div>
        </div>
        </div>

        <footer class="footer">
            <div>
                <p>Paweł Główczewski © Wszelkie prawa zastrzeżone.</p>
            </div>
        </footer>
        
    </body>
</html>