{% extends "blog/main.html" %}

{% block content %}
    <h1> Formularz logowania </h1>
    <hr>
    <h3><small> Wprowadź dane, aby zalogować się do systemu.</small></h3>
    <br><br>
    {% if form.errors %}
        <p>Twoje dane logowania są niepoprawne. Spróbuj ponownie!</p>
    {% endif %}

    <div class="wrapper fadeInDown login-form">
        <div id="formContent">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td> {{ form.username.label_tag }}</td>
            <td> {{ form.username }}</td>
        </tr>
        <tr>
            <td> {{ form.password.label_tag }}</td>
            <td> {{ form.password }}</td>
        </tr>
        </table>
        <br>
        <input type="submit" value="Zaloguj" class="button-login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
{% endblock %}
